sudo: false

language: node_js

node_js:
  - "7"
  - "8"

# blocklist
branches:
  except:
  - source-master

# safelist
branches:
  only:
  - master
  - develop

before_install:
 - npm install -g npm@">=5.0.0"
 - npm --version

notifications:
  disabled: true

env:
  - CXX=g++-6

cache:
  directories:
    - "node_modules"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6